<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Diabetes Prediction</h1>
    <form method="post">
        <div class="form-wrapper">
            <label for="age">Age</label>
            <input type="number" name="age" id="age">
        </div>
        <div class="form-wrapper">
            <label for="BMI">BMI</label>
            <input type="number" name="BMI" id="BMI">
        </div>
        <div class="form-wrapper">
            <label for="Insulin">Insulin</label>
            <input type="number" name="Insulin" id="Insulin">
        </div>
        <div class="form-wrapper">
            <label for="Glucose">Glucose</label>
            <input type="number" name="Glucose" id="Glucose">
        </div>
        
        <button>Test Diabetes</button>
    </form>
    <div>
        <h4>Prediction for Diabetes: age:{{age}} , BMI: {{BMI}},Insulin: {{Insulin}},Glucose: {{Glucose}} </h4>
        <h1>{{result}}</h1>
    </div>
</body>

</html>